@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    color: #333;
    scroll-snap-type: y mandatory;
}

.cabecalho {
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1000;
    background-color: #035605;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

.nav-link {
    display: block;
    padding: 15px 20px;
    text-decoration: none;
    color: #F3FF00;
    font-weight: bold;
}

.nav-link:hover {
    background-color: #003A0D;
}

section {
    height: 100vh;
    scroll-snap-align: start;
    text-align: center;
    padding: 40px 20px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: #BEE8BE;
}

.secao-titulo {
    font-size: 2.2rem;
    color: #328300;
    margin-bottom: 15px;
}

.secao-subtitulo {
    font-size: 1.1rem;
    max-width: 700px;
    line-height: 1.6;
    color: black;
}

#inicio {
    background-size: cover;
    background-position: center;
    background-color: #068F08;
    color: white;

    display: flex;
    flex-direction: column;
    
    justify-content: flex-start;
    text-align: center;
    padding: 80px 50px;
}

.hero-titulo {
    font-size: 4rem;
    margin: 0;
}

.hero-subtitulo {
    font-size: 2rem;
    margin-top: auto;
    margin-bottom: 120px;
}

.sobre-escola {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
    align-items: center;
}

.img-escola {
    width: 440px;
    border-radius: 20px;
    margin-left: 40px;
}