* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arial', sans-serif;
    color: #333;
    scroll-snap-type: y mandatory;
}

.cabecalho {
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.7);
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

.nav-link {
    display: block;
    padding: 15px 20px;
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.nav-link:hover {
    background-color: #555;
}

section {
    height: 100vh;
    scroll-snap-align: start;
    text-align: center;
    padding: 40px 20px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.secao-titulo {
    font-size: 2.2rem;
    color: #007bff;
    margin-bottom: 15px;
}

.secao-subtitulo {
    font-size: 1.1rem;
    max-width: 700px;
    line-height: 1.6;
}

#inicio {
    background-size: cover;
    background-position: center;
    background-color: #00a86b;
    color: white;

    display: flex;
    flex-direction: column;
    
    justify-content: flex-start;
    text-align: center;
    padding: 80px 50px;
}

.hero-titulo {
    font-size: 4rem;
    margin: 0;
}

.hero-subtitulo {
    font-size: 1.6rem;
    margin-top: auto;
    margin-bottom: 120px;
}